///
/// Header
///

@use '../layout';
@use '../theme';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: layout.rem(96px);
  grid-area: header;
}

.header__nav-list {
  display: flex;
}

.header__nav-list__item:not(:last-of-type) {
  margin-right: layout.spacing(6);
  vertical-align: baseline;
}

.header__nav-link {
  text-decoration: none;
}

.header__nav-link:hover,
.header__nav-link:focus {
  text-decoration: underline;
}

.header__color-switcher {
  min-width: layout.rem(44px);
  min-height: layout.rem(44px);
  border-radius: 50%;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__color-switcher:hover,
.header__color-switcher:focus {
  background-color: theme.color('ui-01');
}
