///
/// Main
///

@use '../layout';

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: layout.rem(96px) 1fr layout.rem(96px);
  grid-template-areas: 'header' 'content' 'footer';
  width: 100%;
  max-width: layout.rem(960px);
  height: 100%;
  margin: 0 auto;
  padding: layout.spacing(4);
}
