///
/// Markdown
///

@use '../layout';
@use '../theme';
@use '../type';
@use '../vendor/prismjs';

.Post {
  grid-area: content;
  max-width: layout.rem(650px);
  margin: 0 auto;
  width: 100%;
}

.Post__header {
  margin: layout.spacing(11) 0;
}

.Post__title {
  font-size: type.font-size(7);
  line-height: type.line-height('tight');
  font-weight: type.font-weight('bold');
}

.Post .markdown {
  max-width: 100%;
}

.markdown h2,
.markdown h3 {
  letter-spacing: -0.4px;
}

.markdown h2 {
  font-size: type.font-size(6);
  line-height: type.line-height('tight');
  font-weight: type.font-weight('bold');

  margin-top: layout.spacing(9);
  margin-bottom: layout.spacing(4);
}

.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: type.font-weight('bold');
  margin-top: layout.spacing(8);
  margin-bottom: layout.spacing(2);
}

.markdown h3 {
  font-size: type.font-size(5);
}

.markdown h4 {
  font-size: type.font-size(4);
}

.markdown h5 {
  font-size: type.font-size(2);
}

.markdown h6 {
  font-size: type.font-size(1);
}

.markdown p {
  font-size: type.font-size(4);
}

.markdown p {
  margin-top: layout.spacing(2);
  margin-bottom: layout.spacing(7);
}

.markdown ul {
  list-style: disc;
}

.markdown ol,
.markdown ul {
  padding-left: layout.spacing(7);
  margin-top: layout.spacing(7);
  margin-bottom: layout.spacing(8);
  font-size: type.font-size(3);
}

.markdown li {
  word-wrap: break-all;
}

.markdown li > p {
  margin-top: layout.spacing(4);
}

.markdown li + li {
  margin-top: layout.spacing(2);
}

.markdown details {
  margin: layout.spacing(7) 0;
}

.markdown :not(.codeblock) code {
  background-color: theme.color('ui-01');
  padding: 3px layout.spacing(1);
  border-radius: 4px;
  // This enables code snippets not to wrap across lines when inline in a
  // paragraph
  white-space: nowrap;
}

.markdown table {
  display: block;
  border-spacing: 0;
  border-collapse: collapse;
  padding-bottom: layout.spacing(4);
  width: 100%;
  overflow: auto;
}

.markdown table th {
  font-weight: bold;
}

.markdown table th,
.markdown table td {
  padding: layout.spacing(2) layout.spacing(3);
  border: 1px solid theme.color('inverse-background');
}

.markdown table tr {
  background-color: theme.color('ui-background');
}

.markdown table tr:nth-child(2n) {
  background-color: theme.color('ui-01');
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown .codeblock {
  background: #011627;
  margin: layout.spacing(7) 0;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.markdown blockquote {
  margin: 2rem 0;
  padding: 0.125rem 2rem;
  border-left: 4px solid theme.color('inverse-background');
}

.markdown blockquote * {
  margin: 0;
}
