///
/// Layout
///

@use 'sass:list';

$spacing-scale: (
  0,
  4px,
  8px,
  12px,
  16px,
  20px,
  24px,
  32px,
  48px,
  64px,
  80px,
  96px
);

@function rem($px) {
  @if $px == 0 {
    @return 0;
  }
  @return ($px / 16px) * 1rem;
}

@function spacing($step) {
  @return var(--spacing-#{$step}, #{rem(list.nth($spacing-scale, $step + 1))});
}

@mixin spacing($scale: $spacing-scale) {
  @for $i from 0 through list.length($spacing-scale) - 1 {
    --spacing-#{$i}: spacing($i);
  }
}

@for $i from 0 through list.length($spacing-scale) - 1 {
  $value: spacing($i);

  .mb-#{$i} {
    margin-bottom: $value;
  }

  .mt-#{$i} {
    margin-top: $value;
  }

  .ml-#{$i} {
    margin-left: $value;
  }

  .mr-#{$i} {
    margin-right: $value;
  }

  .m-#{$i} {
    margin: $value;
  }

  .mv-#{$i} {
    margin: $value;
  }

  .mh-#{$i} {
    margin: 0 $value;
  }
}
