@use './vendor/normalize';

//-------------------------------------------------------------------------------
// Reset
//-------------------------------------------------------------------------------
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  appearance: none;

  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}
