@import '~@carbon/elements/scss/type/type';

h1 {
  @include carbon--type-style('display-02', true);
}

h2 {
  @include carbon--type-style('expressive-heading-05', true);
}

h3 {
  @include carbon--type-style('expressive-heading-04', true);
}

h4 {
  @include carbon--type-style('expressive-heading-03');
}

h5 {
  @include carbon--type-style('heading-02');
}

h6 {
  @include carbon--type-style('heading-01');
}

p {
  @include carbon--type-style('body-long-02');
  color: $gray-90;
}

blockquote,
blockquote * {
  @include carbon--type-style('quotation-01', true);
}

code {
  @include carbon--type-style('code-02');
}

a {
  color: $interactive-01;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

small {
  @include carbon--type-style('body-short-01');
}
