.markdown {
  /* ... */
}

.markdown :where(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-sans);
}

.markdown h2 {
  font-size: 2.5rem;
}

.markdown h3 {
  font-size: 2rem;
}

.markdown h4 {
  font-size: 1.5rem;
}

.markdown h5 {
  font-size: 1.25rem;
}

.markdown h6 {
  font-size: 1rem;
  font-weight: 500;
}

.markdown p {
  font-family: var(--font-body);
  line-height: 1.5;
  font-size: 1rem;
  max-width: 60ch;
  margin-block-end: 1.25rem;
}

.markdown code {
  font-family: var(--font-mono);
  letter-spacing: 0.1px;
}
